body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fff;
  color: #111;
}

/* NAVBAR */
header {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #000;
  color: #fff;
}

nav a {
  color: #fff;
  margin-left: 15px;
  text-decoration: none;
}

/* HERO */
.hero {
  text-align: center;
  padding: 100px 20px;
  background: #f5f5f5;
}

.hero h2 {
  font-size: 40px;
}

.hero button {
  padding: 10px 20px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

/* DISCOUNT */
.discount {
  text-align: center;
  background: black;
  color: white;
  padding: 10px;
}

/* PRODUCTS */
.products {
  padding: 40px;
  text-align: center;
}

.product-grid {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #ddd;
  padding: 15px;
  width: 250px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
}

.card button {
  background: black;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

/* REVIEWS */
.reviews {
  background: #f9f9f9;
  padding: 40px;
  text-align: center;
}

/* NEWSLETTER */
.newsletter {
  padding: 40px;
  text-align: center;
}

.newsletter input {
  padding: 10px;
  width: 250px;
}

.newsletter button {
  padding: 10px;
}

/* FOOTER */
footer {
  background: black;
  color: white;
  text-align: center;
  padding: 20px;
}

/* WHATSAPP */
.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: green;
  color: white;
  padding: 15px;
  border-radius: 50%;
  text-decoration: none;
}